p, li, h2 {
  padding-left: 100px;
}

.weknow {
  text-size: 24px;
}

.stayclassy {
      height: 80px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
   margin-left: 100px;
  background-color: lightgray;

}

.stayclassy1 {
    height: 80px;
    width: 300px;
  padding-right:400px;
    border: solid lightgray;

  background-color: lightgray;


}

.stayclassy2 {
    height: 80px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}

.stayclassy3 {

    height: 80px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;

}

.stayclassy4 {
      height: 120px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;


}

.stayclassy5 {
    height: 160px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;

}

.stayclassy6 {
    height: 40px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}

.stayclassy7 {
   height: 280px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}

.stayclassy8 {
   height: 110px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}

.stayclassy9 {
   height: 130px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}

.stayclassy10 {
   height: 230px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}

.stayclassy11 {
   height: 170px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
  margin-left: 100px;
}

.stayclassy12 {
    height: 90px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}

.stayclassy13 {
   height: 90px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}

.stayclassy14 {
   height: 90px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}

.stayclassy15 {
  height: 180px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}

.stayclassy16 {
  height: 150px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;

}

.stayclassy17 {
   height: 80px;
    width: 300px;
    padding-right:300px;
    border: solid lightgray;
  background-color: lightgray;
}
